body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

.ant-layout {
  min-height: 100vh;
}

nav {
  display: flex;
  flex-direction: column;
}

nav a {
  padding: 15px 15px 10px 25px;
  color: #abd7f8;
}

nav a:hover {
  background: #487ba0;
  color: white;
}

.active {
  background: #0c5c95;
}

nav a span {
  margin-right: 15px;
}


.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 0 40px;
}
.movie-list a {
  width: 250px;
  height: 400px;
  margin: 40px 30px;
  transition: all ease-in .3s;
}

.movie-list a:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, .7);
}

.movie-list .movie-title {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
  color: #383838;
}

img {
  width: 100%;
  height: 100%;
}

.spinner-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter {
  display: flex;
  justify-content: flex-end;
}
.filter .ant-input {
  width: 250px;
}

.filter .ant-select {
  width: 250px;
  margin-left: 30px;
}

.movie-page {
  margin-top: 20px;
  background: #f7f7f7;
  padding: 15px;
  min-height: 82vh;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
}
.movie-page h1 {
  text-align: center;
}

.movie-page .movie-info {
  margin: 30px 10%;
  display: flex;
  justify-content: space-between;
}
.movie-page .movie-info>div:first-child {
  width: 25%;
}
.movie-page .movie-info>div:last-child {
  width: 72%;
}
.movie-page img {
  width: 100%;
  height: auto;
}

.movie-page .info-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  align-items: center;
}
.movie-page .info-block>div:first-child {
  width: 10%;
  font-size: 16px;
  font-weight: 500;
}

.movie-page .info-block>div:last-child {
  width: 88%;
}

.movie-page iframe {
  border: 0;
}
.btn-buy {
  width: 100%;
  margin: 20px auto;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  background: #ffad40;
  border: 1px solid #e29938;
}
.btn-buy:hover {
  background: #ff9b14;
  border-color: #ed981f;
}

.day {
  background: #daf3ff;
  border: 2px solid #b0daff;
  border-radius: 5px;
  padding: 10px 15px;
  text-align: center;
  margin-bottom: 15px;
}

.sessions {
  margin-top: 15px;
}

.session {
  border: 2px solid #eee;
  border-radius: 2px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  height: 220px;
  margin-bottom: 15px;
  background: white;
}

.session > div {
  width: 25%;
}

.session > div:last-child {
  display: flex;
  align-items: center;
}

.session > div:first-child {
  display: flex;
  width: 0;
  text-align: left;
}

.session > div:first-child img {
  width: 25vh;
  margin-right: 10px;
}

.time {
  background: #fbba5e;
  border: 2px solid #ffa81c;
  border-radius: 5px;
  padding: 5px;
  width: 80px;
  text-align: center;
  margin-bottom: 15px;
}

.room {
  border: 2px solid #b0daff;
  border-radius: 5px;
  padding: 5px;
  width: 80px;
  text-align: center;
}
